body{
    margin:0px;
    padding:0px;
}
.container{
    display: flex;

    height: 100vh;
    width:100vw;

}
 h1{
    position:absolute;
    top:705px;
    text-align: center;
    color: white;
}
.left-side{
    display: flex;
    justify-content: center;

    margin:0px;
    min-width: 460px;
    width: 1000px;
    max-width: 1000px;
    background-image: url(/imgs/surf.jpg);

    background-size: cover;
    background-color: green;
}
.right-side{
    
    width: 750px;
}