body{
    margin:0px;
    padding:0px;
    background-image: url(./imgs/horizontal.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden
}
.container{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width:100vw;
}

/* Title and catch phrase */
#breakPoint {
  font-size: 60px;
  text-align: center;
  color: rgb(190, 139, 71);
  display: flex;
  position: absolute;
  top: 160px;
}

@media (max-width: 1100px) {
  #breakPoint {
    top: 0px;
  }
}

h2 {
  font-size: 16px;
  position: absolute;
  top: 250px;
  text-align: center;
  color: white;
}

@media (max-width: 1100px) {
  h2 {
    top: 87px;
  }
}

.left-side{
    display: flex;
    justify-content: center;

    margin:0px;
    min-width: 500px;
    width: 100vw;
    margin-bottom: 490px;
}

@media (min-width: 1100px) {
    .left-side{
        width:50vw;
    }
  }


/* Right Side Container */
.right-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;

}
@media (min-width: 1100px) {
    .right-side {
        width:50vh;
    }

  }

  /* Getting Started */
#title{
  font-size:20px;
  display: flex;
  justify-content:flex-start;
  margin-left:15px;
  color:rgb(190, 139, 71);
}

@media (min-width: 1100px) {
  #title {
      position: absolute;
      top: 110px;
      right: 340px;
  }
}


/* Form */
.form-container{
  display: flex;
  justify-content: center;
}

@media (min-width: 1100px) {
  .form-container {
      position: absolute;
      top: 200px;
      right: 117px;
  }
}
.category{
    display: flex;
    flex-direction: column;
    width:50%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.form{
    color:black;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

@media (min-width: 1100px) {
    .form {
        color:white;
    }
}


/* Input Boxes */
input{
  padding:4px 10px;
  border-radius: 3px;
  margin: 4px 20px 10px 0px;
  border:solid;
  border-color: white;
  font-family:'Times New Roman', Times, serif
}
input:hover{
  background-color: rgb(214, 214, 214);
  border-color:rgb(214,214,214)
}

input:focus{
  outline: none;
  border-radius: 4px;
  background-color: white;
  border-color: rgb(184, 148, 29);
}


  /* SUBMIT BUTTON */
  .submitButton{
    background-color: rgba(0, 0, 0, 0);
    color:black;
    border: 2px solid;
    border-radius: 5px;
    padding: 4px 10px;
    font-family: 'Times New Roman', Times, serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
  }

  @media (min-width: 1100px) {
    .submitButton {
        position: absolute;
        top: 190px;
        right:276px;
        color: rgb(190, 139, 71);
    }
  }
  @media (min-width: 1100px) {
    .submitButton,
    .login {
      display: block;
      margin-top: 0;
    }
  }

  .submitButton:hover{
    color:rgb(114, 74, 21);
  }


/* Already have an account log in section */
  .login{
    color:black;
    display: inline-block;
    margin-top: -10px;
  }
  @media (min-width: 1100px) {
    .login {
        color: white;
        position:absolute;
        top:190px;
        right:19px;
    }
  }

  /* Log In Link */
  a{
    color:rgb(190, 139, 71);
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }

.bottom {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 10px;
    }
