body{
    margin:0px;
    padding:0px;
    background-image: url(/imgs/horizontal.jpg);
    background-position: center;
    background-size: cover;

    overflow-x: hidden
}
.container{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width:100vw;

}


#breakPoint {
  font-size: 60px;
  text-align: center;
  color: rgb(190, 139, 71);
  display: flex;
  position: absolute;
  top: 160px;
}

@media (max-width: 1100px) {
  #breakPoint {
    top: 0px;
  }
}
h2 {
  font-size: 16px;
  position: absolute;
  top: 250px;
  text-align: center;
  color: white;
}

@media (max-width: 1100px) {
  h2 {
    top: 87px;
  }
}
.left-side{
    display: flex;
    justify-content: center;

    margin:0px;
    min-width: 500px;
    width: 100vw;
    margin-bottom: 490px;
}

@media (min-width: 1100px) {
    .left-side{
        width:50vw;
    }
  }


.right-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;

}
@media (min-width: 1100px) {
    .right-side {
        width:50vh;
    }

  }


.category{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    width:50%;

}

.row{
    display: flex;
    flex-wrap: wrap;
}
.form{
    color:rgb(190, 139, 71);
    display: flex;
    flex-direction: column;
    align-items: center;    
}
@media (min-width: 1100px) {
    .form {
        color:white;
    }
}




.form-container{
    display: flex;
    justify-content: center;
}



#title{
    font-size:20px;
    display: flex;
    justify-content:flex-start;
    margin-left:15px;
    color:rgb(190, 139, 71);
}

@media (min-width: 1100px) {
    #title {
        position: absolute;
        top: 110px;
        right: 340px;
    }
}

@media (min-width: 1100px) {
    .form-container {
        position: absolute;
        top: 200px;
        right: 100px;
    }
  }

  input{
    padding:4px 10px;
    border-radius: 3px;
    margin: 4px 20px 10px 0px;
    border:solid;
    border-color: white;
  }
  input:hover{
    background-color: rgb(214, 214, 214);
    border-color:rgb(214,214,214)
  }

  input:focus{
    background-color: white;
  }

  /* SUBMIT BUTTON */
  .submitButton{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 2px solid;
    border-radius: 5px;
    padding: 4px 10px;
    font-family: 'Times New Roman', Times, serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
  }

  @media (min-width: 1100px) {
    .submitButton {
        position: absolute;
        top: 190px;
        right:293px;
    }
  }
  @media (min-width: 1100px) {
    .submitButton,
    .login {
      display: block;
      margin-top: 0;
    }
  }

  .submitButton:hover{
    color:rgb(190, 139, 71);
  }



/* Already have an accoung log in section */
  .login{
    color: white;
    display: inline-block;
    margin-top: -10px;
  }
  @media (min-width: 1100px) {
    .login {
        position:absolute;
        top:190px;
        right:19px;
    }
  }
  a{
    color:rgb(190, 139, 71);
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }

.bottom {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 10px;
    }
